.loader {
  position: absolute;
  top: 40%;
  left: 47%;
}
#section-footer {
  background-color: #1976D2 !important;
  height: 70px;
  position: relative;
}
#section-footer .p {
  /* /* padding-bottom: 45% !important; */
  margin-top: 45% !important;
  /* position: absolute !important; */
  font-weight: bold !important;
  transform: translateX(-50%) !important;
  font-size: 4.1rem !important;
}

.section-login{
  margin-top: 100px;
  margin-bottom: 220px;
}
.btn-extended{
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;

}

.formbtn-red {
  float: right
}